.footer__email {
  border: none;
  border-bottom: 1px solid #fff !important;
  padding: 10px 0 !important;
  color: #fff !important;
  background-color: #000;
  outline: none;
}
.submit__btn {
  color: #fff;
}
