.td__image {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e3e3e3;

  &__box {
    background: #000;
    height: 90px;
    width: 90px;
    overflow: hidden;
    border-radius: 100%;
    background-image: url(https://t4.ftcdn.net/jpg/00/65/77/27/360_F_65772719_A1UV5kLi5nCEWI0BNLLiFaBPEkUbv5Fv.jpg);
    background-position: center;
    background-size: cover;

    filter: brightness(80%);
    &__img {
      height: 100%;
    }
  }
}
.dashuserscreen {
  &__container {
    &__table {
      &__tbody {
        .btns__td {
          padding: 0;
          margin: 0;
          .del__btn {
            text-transform: uppercase;
            font-size: 13px !important;
            letter-spacing: 0.13em;
            border-radius: 0 !important;
            display: inline-block;
            color: #000000;

            width: 50%;
            border: none;
            height: 100%;
            padding: 18px 30px;
            line-height: 1.25em;
            vertical-align: top;
            font-weight: 400;
            transition: opacity 0.3s, color 0.3s, background-color 0.3s,
              border-color 0.3s, transform 0.3s;
            &:hover {
              color: red;
            }
          }
          .edit__btn {
            text-transform: uppercase;
            font-size: 13px !important;
            letter-spacing: 0.13em;
            border-radius: 0 !important;
            display: inline-block;
            color: #000000;

            width: 50%;
            border: none;
            padding: 18px 30px;
            line-height: 1.25em;
            vertical-align: top;
            font-weight: 400;
            transition: opacity 0.3s, color 0.3s, background-color 0.3s,
              border-color 0.3s, transform 0.3s;
            height: 100% !important;

            &:hover {
              color: aquamarine;
            }
          }
        }
        img {
          object-fit: cover;
          height: 100px;
          width: 100%;
        }
      }
    }
  }
}
