.dashproductscreen {
  padding-top: 100px;
  &__container {
    .dashproductscreen__container__table {
      thead {
        @media (max-width: 993px) {
          display: none;
        }
      }
      td {
        vertical-align: middle;
      }

      &__tbody {
        .btns__td {
          .product__buttons {
            text-transform: uppercase;
            font-size: 13px !important;
            letter-spacing: 0.13em;
            border-radius: 0 !important;
            display: inline-block;
            color: #000000;
            height: 100%;

            width: 50%;
            border: none;
            padding: 18px 30px;
            line-height: 1.25em;
            vertical-align: top;
            font-weight: 400;
            transition: opacity 0.3s, color 0.3s, background-color 0.3s,
              border-color 0.3s, transform 0.3s;
            &:hover {
              color: red;
            }
          }
          .product__buttons__edit {
            text-transform: uppercase;
            font-size: 13px !important;
            letter-spacing: 0.13em;
            border-radius: 0 !important;
            display: inline-block;
            color: #000000;
            height: 100%;

            width: 50%;
            border: none;
            padding: 18px 30px;
            line-height: 1.25em;
            vertical-align: top;
            font-weight: 400;
            transition: opacity 0.3s, color 0.3s, background-color 0.3s,
              border-color 0.3s, transform 0.3s;
            &:hover {
              color: aquamarine;
            }
          }
        }

        tr {
          @media (max-width: 993px) {
            display: flex;
            flex-direction: column;
          }
          .img__td {
            @media (max-width: 993px) {
              height: 200px;
            }
          }
          td {
            height: 70px;
            padding: 0;
          }
        }
        img {
          object-fit: contain;
          object-position: center;
          height: 100%;
          width: 100%;
        }
      }
    }
    .add__products {
      text-transform: uppercase;
      font-size: 13px !important;
      letter-spacing: 0.13em;
      border-radius: 0 !important;
      display: inline-block;
      background-color: white;
      color: #000000;
      border: 1px solid #000000;
      height: 100%;

      width: 100%;

      padding: 18px 30px;
      line-height: 1.25em;
      vertical-align: top;
      font-weight: 400;
      transition: opacity 0.3s, color 0.3s, background-color 0.3s,
        border-color 0.3s, transform 0.3s;
      margin-bottom: 100px;
      &:hover {
        background: black;
        color: white;
      }
    }
  }
}
