tr {
  @media (max-width: 993px) {
    display: flex;
    flex-direction: column;
  }
}
thead {
  @media (max-width: 993px) {
    display: none;
  }
}

.btns__td {
  display: flex;
  .delete__btn__order {
    text-transform: uppercase;
    font-size: 13px !important;
    letter-spacing: 0.13em;
    border-radius: 0 !important;
    display: inline-block;
    color: #000000;
    height: 100%;

    width: 50%;
    border: none;
    padding: 18px 30px;
    line-height: 1.25em;
    vertical-align: top;
    font-weight: 400;
    transition: opacity 0.3s, color 0.3s, background-color 0.3s,
      border-color 0.3s, transform 0.3s;
    &:hover {
      color: red;
    }
  }
  .edit__btn__order {
    text-transform: uppercase;
    font-size: 13px !important;
    letter-spacing: 0.13em;
    border-radius: 0 !important;
    display: inline-block;
    color: #000000;
    height: 100%;

    width: 50%;
    border: none;
    padding: 18px 30px;
    line-height: 1.25em;
    vertical-align: top;
    font-weight: 400;
    transition: opacity 0.3s, color 0.3s, background-color 0.3s,
      border-color 0.3s, transform 0.3s;
    &:hover {
      color: aquamarine;
    }
  }
}
