// .auth {
//   width: 100%;

//   display: flex;
//   align-items: center;
//   justify-content: center;
//   padding-top: 100px;
//   background-position: center;
//   background-size: cover;
//   padding-bottom: 100px;

//   &__content {
//     transition: 0.5s linear;
//     padding: 0 30px 70px 30px;
//     text-align: center;
//     width: 600px;

//     &__main {
//       transition: 0.6s linear;
//     }
//     &__header {
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       flex-direction: row-reverse;
//       h1 {
//         color: black;
//       }
//       &__image {
//         height: 200px;
//         width: 200px;
//         img {
//           width: 100%;
//           height: 100%;
//         }
//       }
//     }
//     .field__inp {
//       background: transparent;

//       border-right: none;
//       border-left: none;
//       border-top: none;

//       outline: none;
//       padding: 10px 0;
//     }
//     .register__btn {
//       padding: 10px 0;
//       outline: none;
//       border: none;
//     }
//     .new__costumer {
//       text-align: start;
//       color: white;
//       padding-top: 20px;
//     }
//   }

//   .formik__class {
//     display: flex;
//     flex-direction: column;
//     span {
//       text-align: left;
//       color: white;
//     }
//     .field__inp {
//       margin-bottom: 20px;
//     }
//   }
// }

.auth {
  display: flex;
  justify-content: center;
  padding: 80px 0;

  &__content {
    width: 100%;

    &__main {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      &__header {
        text-align: center;

        h1 {
          display: inline;
          padding: 10px 0;
          font-size: 25px;
          font-weight: 600;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
            background: #000;
          }
        }
      }
      width: 100%;
      &__inputs {
        margin-top: 50px;

        width: 500px;
        @media (max-width: 502px) {
          width: 100%;
        }

        .formik__class {
          display: flex !important;
          flex-direction: column;
          .field__inp {
            border: 1px solid #bfbfbf;
            background: #ffffff;
            padding: 1em 1.7em;
            width: 100%;
            border-radius: 0;
            outline: none;
            margin-bottom: 20px;
          }
          .register__btn {
            width: 100%;
            margin-bottom: 20px;
            text-transform: uppercase;
            font-size: 13px !important;
            letter-spacing: 0.13em;
            border-radius: 0 !important;
            display: inline-block;
            background-color: #000000;
            color: #ffffff;
            border: 1px solid #000000;
            height: auto;
            width: auto;
            padding: 18px 30px;
            line-height: 1.25em;
            vertical-align: top;
            font-weight: 400;
            transition: opacity 0.3s, color 0.3s, background-color 0.3s,
              border-color 0.3s, transform 0.3s;
            &:hover {
              background: white;
              color: black;
            }
          }
          .create__btn {
            width: 100%;
            margin-bottom: 20px;
            text-transform: uppercase;
            font-size: 13px !important;
            letter-spacing: 0.13em;
            border-radius: 0 !important;
            display: inline-block;
            background-color: #ffffff;
            color: #000000;
            border: 1px solid #000000;
            height: auto;
            width: auto;
            padding: 18px 30px;
            line-height: 1.25em;
            vertical-align: top;
            font-weight: 400;
            transition: opacity 0.3s, color 0.3s, background-color 0.3s,
              border-color 0.3s, transform 0.3s;
            &:hover {
              background: #000000;
              color: #fff;
            }
          }
        }
      }
    }
  }
}
