.hamburger__menu {
  font-size: 20px !important;
  color: white !important;
}
.menu__slider {
  background: #000 !important;
}
.menu__ul {
  text-transform: uppercase;
  list-style: none;
  .menu__ul__li {
    line-height: 43px;
    .menu__links {
      color: white !important;
      text-decoration: none;
      font-weight: 600;
    }
  }
}
.offcanvas-header {
  font-weight: 600;
  background: aquamarine !important;
  .button {
    color: white !important;
  }
}
